#side-panel {
  height: 100vh;
  width: 20vw;
  background-color: #e9e9e9;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

li a{
  font-size: 28px;
  display: block;
  padding: 0.6em 2em;
  margin: auto;
  color: rgb(58, 56, 56);
  text-decoration: none;
}