@import url(style.css);
@import url(colors.css);
@import url(card.css);
@import url(leftPanel.css);
@import url(rightPanel.css);

* {
  border: 0px;
  padding: 0px;
}
body {
  font-family: system-ui;
  background-color: aqua  x;
}
main{
  display: flex;
}